In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding='latin-1')

In [4]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [10]:
my_tuppy = (1,2,5,8)

In [11]:
my_tuppy[2] = 6

TypeError: ignored

In [12]:
S = [['him', 'sell'], [90, 28, 43]]

In [13]:
S[0][1][1]

'e'

In [14]:
rray  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [16]:
[:2,0:]

SyntaxError: ignored

In [18]:
df.isnull().count()

Area Code       60943
Area            60943
Item Code       60943
Item            60943
Element Code    60943
Element         60943
Unit            60943
Y2014           60943
Y2015           60943
Y2016           60943
Y2017           60943
Y2018           60943
dtype: int64

In [23]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [26]:
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [30]:
df.groupby('Y2017').describe()

KeyboardInterrupt: ignored

In [34]:
df.groupby('Element')['Area'].sum()

Element
Domestic supply quantity                  AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Export Quantity                           AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Fat supply quantity (g/capita/day)        AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Feed                                      AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Food                                      AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Food supply (kcal/capita/day)             AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Food supply quantity (kg/capita/yr)       AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Import Quantity                           AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Losses                                    AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Other uses (non-food)                     AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Processing                                AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Production                                AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Protein supply quantity (g/capita/day)    AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Residuals                                 AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Seed                                      AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Stock Variation                           AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Total Population - Both sexes             AlgeriaAngolaBeninBotswanaBurkina FasoCabo Ver...
Tourist consumption                       AngolaAngolaBotswanaBotswanaBotswanaBotswanaBo...
Name: Area, dtype: object

AttributeError: ignored

In [37]:
df.nunique(axis=1).groupy('Area')

AttributeError: ignored